table {
  border: solid black 2px;
  border-radius: 20px;
  background-color: rgb(149, 149, 149);
  padding: 4px;
  font-family: "Times New Roman", Times, serif;
}
caption {
  border: 3px solid rgb(23, 3, 3);
  padding: 2px;
  border-radius: 50px;
  background-color: rgb(232, 62, 62);
  font-size: x-large;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
th {
  border: solid black 2px;
  border-radius: 52px;
  padding: 5px;
  background-color: chartreuse;
  font-family: "Times New Roman", Times, serif;
}
td {
  border: solid black 2px;
  border-radius: 4px;
  background-color: yellow;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.image{
    border: 2px solid black;
    border-radius: 30px;
}