* {
  box-sizing: border-box;
  border-radius: 7px;
}
header {
  background-color: lightgreen;
  padding: 3px;
  width: 80vw;
  font-family: cursive;
}
.container {
  background-color: blue;
  height: 80vh;
  width: 80vw;
  position: relative;
}
.ball {
  height: 40px;
  width: 40px;
  background-color: tomato;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: 
  x-axis 6s linear 1, 
  y-axis 6s ease-out 1;
}
@keyframes x-axis {
  from {
  }
  to {
    transform: translateX(73vw);
  }
}
@keyframes y-axis {
  5%{
    transform: translateY(-70vh) translateX(5vw);
  }
  25%{
    transform: translateY(0vh) translateX(25vw);
  }
  55%{
    transform: translateY(-50vh) translateX(55vw);
  }
  75%{
    transform: translateY(0vh) translateX(75vw);
  }
  100%{
    transform: translateY(0vh)  translateX(75vw);
  }
}
