* {
  box-sizing: border-box;
  border-radius: 7px;
}
header {
  background-color: lightgreen;
  padding: 3px;
  width: 80vw;
  font-family: cursive;
}
.container {
  background-color: blue;
  height: 80vh;
  width: 80vw;
  position: relative;
}
.ball {
  height: 40px;
  width: 40px;
  background-color: tomato;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: x-axis 3s linear 200ms 2;
}
@keyframes x-axis {
  from {
  }
  to {
    transform: translateX(73vw) translateY(-80vh);
  }
}
